# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Akhila\javaInterfaceExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
